body {
  margin: 0 auto;
  background-color: #d2f5e3;
  font-family: Comic sans ms, 'Nunito', serif;
  font-size: 16px;
  box-sizing: border-box;
}

hr {
  border: none;
  border-top: 4px dotted #99a8b2;
  width: 6%;
}

h1 {
  color: #fa7f72;
}

h2, h3 {
  color: #34626c;
}

.flex-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}

.inline-block {
  display: inline-block;
  box-sizing: border-box;
}

.inline-content {
  width: 80%;
}

.inline-pic {
  width: 20%;
}

.img-responsive{
  border-radius: 50%;
  max-width: 100%;
  max-height: 300px;
}

.top-picture{
  width: 30%;
}

.top-description{
  font-size: 1.5em;
  line-height: 2;
  padding-left: 2em;
}

.sticky-note{
  background-color: #f3eac2;
  border: 3px solid;
  padding: 0 1.5em;
  width: 100%;
}

.butterfly{
  width: 40%;
}

#tagline > .inline-pic {
  width: 30%;
}

#tagline > .inline-content {
  width: 70%;
}

@media only screen and (max-width: 575px) {
  body {
    width: 100%;
  }
  .flex-content {
    width: 100%;
  }
  .inline-block {
    display: none !important;
  }
}

@media only screen and (min-width: 576px) {
  body {
    width: 90%;
  }
  .flex-content {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 70%;
  }
  .flex-content {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    width: 60%;
  }
  .flex-content {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    width: 50%;
  }
  .flex-content {
    width: 60%;
  }
}
