body{
margin: 30px;
background-color: #d2f5e3;
font-family: Comic sans ms, 'Nunito', serif;
}

hr{
  border-style: dotted none none;
  border-color: #99a8b2;
  border-width: 4px;
  width: 6%
}
h1{
  color: #fa7f72;
  margin-top: 0;
}

h2{
  color: #34626c;
}
h3{
  color: #34626c;
}

.top-picture{
  display: inline-block;
  width: 300px;
  padding-left: 50px;
}

.top-description{
  font-size: 20px;
  line-height: 2;
  display: inline-block;
  position: absolute;
  top: 55px;
}

.profile{
  border-radius:100%;
  width: 90%;
}

.sticky-note{
  background-color: #f3eac2;
  border: 3px solid;
  width: 70%;
  margin: 20px auto;
  padding:10px;
}

.gardener{
  border-radius: 100%;
  width: 130px;
  display: inline-block;
  position: absolute;
  margin: 30px 30px 30px 500px;
}

.hobbies{
  display: inline-block;
  position: relative;
  left: 200px;
}

.heart-hug{
  width: 100px;
  display: inline-block;
  position: absolute;
  margin: 55px 20px 20px 120px;
}

.values{
  display: inline-block;
  position: relative;
  width: 55%;
  left: 250px;
}

.couple{
  height: 130px;
  display: inline-block;
  position: absolute;
  left: 650px;
  padding-top: 30px;
}

.goals{
  display: inline-block;
  position: relative;
  width: 60%;
  left: 120px;
  margin-right:0px;
}

.life-dream{
  width: 80%;
  margin: 0px auto;
}

.highlights{
  width: 50%;
  margin: auto;
}

.butterfly{
  width: 40%;
  height: auto;
  position: relative;
  left: 20px;
}
