body{
margin: 30px;
background-color: #d2f5e3;
font-family: Comic sans ms, 'Nunito', serif;
}

.top-picture{
  display: inline-block;
  width: 300px;
}

.top-description{
  line-height: 2;
  display: inline-block;
  position: absolute;
  top: 60px;
}

.profile{
  border-radius:100%;
  width: 90%;
}

.sticky-note{
  background-color: #f3eac2;
  border: 3px solid;
  width: 70%;
  margin: auto;
  padding:10px;
}

hr{
  border-style: dotted none none;
  border-color: #99a8b2;
  border-width: 4px;
  width: 6%
}
h1{
  color: #fa7f72;
  margin-top: 0;
}
h3{
  color: #34626c;
}

.butterfly{
  width: 20%;
  height: auto;
  position: relative;
  left: 20px;
}
